@import "../../index.css";
.header {
  background-color: var(--blue) !important;
  width: 100%;
  font-size: 1.2rem;
}
.header a {
  margin-left: 1rem;
}
.logo {
  font-size: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
}
.navbarname {
  padding-left: 0.5rem;
  font-size: 1rem;
}
/* .mobileMenu:active {
  border: none;
} */
.profile {
  font-size: 1rem;
}
