.containerDetail {
  width: 1200px;
  margin: 0 auto;
  height: 100vh;
}
.productDetail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background-color: white;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.mainP {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productDetailImage {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productDetailImage img {
  width: 100%;
}
.starRating {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}
.starRating span {
  font-weight: 700;
  font-size: 1rem;
}
.priceDetail {
  display: flex;
}
.priceDetail p {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.buttonContainer {
  display: flex;
}

.buttonDiv {
  margin-top: 1rem;
}
.buttonDiv button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.lastButton {
  margin-left: 2rem;
}

.butsahBtn {
  margin-bottom: 1rem;
}
.butsahBtn a {
  text-decoration: none;
  cursor: pointer;

  color: black;
}
