@import "../index.css";
.container {
  display: flex;
  flex-direction: column;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.buttonContainer button {
  margin-left: 1rem;
  margin-right: 1rem;

  width: 10rem;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--blue);
  color: #fff;
  border: none;
  cursor: pointer;
}
.buttonContainer button:visited {
  border-color: #fff;
}
.buttonContainer button:active {
  border-color: #fff;
}
.buttonContainer button:hover {
  border-color: #fff;
}
.productContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* footer-iig deeshluulehgui baigaa */
  height: 80vh;
}
.categories {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .buttonContainer button {
    margin-top: 1rem;
  }
}
