@import "../index.css";
.containerRegister {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 2rem;
}
.register {
  display: flex;
  flex-direction: column;
}
.register h1 {
  width: 80%;
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: var(--blue);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
}
.mainForm {
  width: 80%;
}
.formControl {
  padding-top: 2rem;
}
.formFirst {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  padding: 2rem;
}
.formInput {
  width: 100%;
}
.formInput input {
  width: 100%;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}
.formSecond {
  width: 100%;
  padding: 0rem 2rem;
  margin-bottom: 2rem;
}
.formSecond input {
  width: 100%;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

.formButton {
  width: 100%;
  padding: 0rem 2rem;
}
.formButton button {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  background-color: var(--green);
  color: #fff;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
}
.formButton button:hover {
  cursor: pointer;
}
