@import "../index.css";

.containerRegister {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 2rem;
}
@media screen and (max-width: 992px) {
  .containerRegister {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 850px) {
  .containerRegister {
    grid-template-columns: 1fr;
  }
  .firsSection {
    display: none;
  }
}
.register {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.register h1 {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: var(--blue);
  text-transform: uppercase;
  font-weight: 700;
}
.mainForm {
  width: 100%;
}
.formControl {
  padding-top: 2rem;
}
.formFirst {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  padding: 2rem;
}
.formInput {
  width: 100%;
}
.formInput input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.formSecond {
  width: 100%;
  padding: 0rem 2rem;
  margin-bottom: 2rem;
}
.formSecond input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--blue);
  border-radius: 10px;
}
.formSecond input::placeholder {
  color: var(--blue);
}

.formButton {
  width: 100%;
  padding: 0rem 2rem;
}
.formButton button {
  width: 100%;
  font-size: 1rem;
  background-color: var(--green);
  color: #fff;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border: none;
}
.formButton button:hover {
  cursor: pointer;
}
