@import "../../index.css";

.footer {
  padding: 2rem 0;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  justify-items: center;
  max-width: 1200px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

.footerCard {
  width: 100%;
}
.footer h3 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
  color: #fff;
}
.footer p {
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.3s ease-out;
}
.footer p a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}
.footer p:hover {
  cursor: pointer;
  transform: scale(1.02);
}
@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .footerCard {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
